@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Student Result";
}

<div>
    <h1>Student Results</h1>
    <table class="table table-dark table-bordered table-hover">
        <tr>
            <td>Sr.</td>
            <td>Name</td>
        </tr>
        <tr>
            <td>1</td>
            <td>AAA</td>
        </tr>
        <tr>
            <td>2</td>
            <td>BBB</td>
        </tr>
    </table>
</div>